*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #### Primary

- Moderate blue: hsl(238, 40%, 52%)
- Soft Red: hsl(358, 79%, 66%)
- Light grayish blue: hsl(239, 57%, 85%)
- Pale red: hsl(357, 100%, 86%)

#### Neutral

- Dark blue: hsl(212, 24%, 26%)
- Grayish Blue: hsl(211, 10%, 45%)
- Light gray: hsl(223, 19%, 93%)
- Very light gray: hsl(228, 33%, 97%)
- White: hsl(0, 0%, 100%) */

/* #### Typography
/* - Font size (paragraph): 16px */
body{
  background-color: hsl(228, 33%, 97%);
  font-family: 'Rubik', sans-serif;
}

/* ***************** */
/* Reuseable         */
/* ***************** */
.container{
  margin: 5rem 0 0 0;
  padding: 0 22rem;
}
.card{
  padding: 1.3rem 1.5rem 0.5rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);

  display: grid;
  grid-template-columns: 0.3fr 3fr;
}
.img-profile{
  width: 30px;
}
.name{
  margin: 0 0 0 1rem;
  font-size: 0.9rem;
  color: hsl(212, 24%, 26%);
  font-weight: 500;
}
.month{
  margin: 0 0 0 1rem;

  font-size: 1rem; 
  color: hsl(211, 10%, 45%);
  font-weight: 100;
}
.reply{
   margin: 0 0 0 20rem;
   color: hsl(238, 40%, 52%);
}
.d-flex{
  display: flex;
}
.description{
  font-size: 16px;
  margin: 1rem 0 0 0;

  color: hsl(211, 10%, 45%);
}
.icon-reply{
  margin: 0 0.5rem 0 0;
}

.column{
  padding: 1rem 0.5rem;
  margin: 0 1.5rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;

  background-color: hsl(228, 33%, 97%);
  border-radius: 0.5rem;
}
.plus-icon{
  width: 10px;
}
.minus-icon{
  width: 10px;
}

/* ***************** */
/* Helpers         */
/* ***************** */
.comment-2{
  margin-top: 1rem;
}